@font-face {
  font-family: 'Inter';
  src: url('./font/Inter-VariableFont_slnt\,wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Inter;
}

body {
  width: 100vw;
  height: 100vh;  
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: #F3F5FC;
}

.alura-section {
  padding: 20px;
  height: 100vh;
  width: 150px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

main {
  height: 680px;
  width: 680px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 150px;
}

.advice-title {
  line-height: 120%;
  text-align: center;
}

.advice-text {
  color: #495057;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.alert-text {
  color: #495057;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */

  display: flex;
  gap: 5px;
  align-items: center;
}

.messages {
  background-color: white;
  width: 440px;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 32px;
  background: var(--White, #FFF);

  /* shadow */
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.img {
  width: 336px;
  height: 304px;
}

#input {
  border: none;
  width: 90%;
  height: 48px;

  color: #0A3871;
  font-size: 32px;
  font-weight: 400;
  line-height: 150%; /* 48px */
  
  background-color: transparent;
}

#input::placeholder {
  color: #0A3871;
}

.btn {
  margin-top: 5px;
  width: 200px;
  padding: 24px;
  border-radius: 24px;
  gap: 8px;
  flex-shrink: 0;
  transition: background-color 150ms linear;
}

.enable {
  display: none;
}

.copy {
  margin-bottom: 20px;
}

.result-text {
  margin-top: 20px;
  color: #495057;
  font-size: 30px;
}

.disabled {
  display: none;
}

.white {
  border-radius: 24px;
  border: 1px solid #0A3871;
  background-color: #EFF1FA;
}

.white:hover {
  background-color: #D8DFE8;
}

.dark-blue {
  background-color: #0A3871;
  border: none;
  color: white;
}

.dark-blue:hover {
  background-color: #072B61;
}